- name: GitHub Cli install
  hosts: all
  connection: local
  vars:
    ansible_python_interpreter: "{{ ansible_playbook_python }}"

  tasks:
    - name: "Get Latest Release from Github"
      community.general.github_release:
        user: neovim
        repo: neovim
        action: latest_release
      register: release

    - name: Print Latest release
      ansible.builtin.debug:
        var: release

    - name: Create $HOME/Programs/nvim directory
      ansible.builtin.file:
        path: /home/{{ ansible_user_id }}/Programs/nvim
        state: directory
        mode: '0755'

    - name: Download Binary
      ansible.builtin.unarchive:
        src: https://github.com/neovim/neovim/releases/download/{{ release.tag }}/nvim-linux-x86_64.tar.gz
        dest: /home/{{ ansible_user_id }}/Programs/nvim
        extra_opts: [--strip-components=1]
        remote_src: true

    - name: Chmod binary
      ansible.builtin.file:
        path: /home/{{ ansible_user_id }}/Programs/nvim/bin/nvim
        mode: '0777'

    - name: Install Binary
      ansible.builtin.file:
        src: /home/{{ ansible_user_id }}/Programs/nvim/bin/nvim
        dest: "/usr/local/bin/nvim"
        state: link
      become: true
