[Unit]
Description=Kmonad

[Service]
ExecStart=/home/huy/.local/bin/kmonad /home/huy/.config/kmonad/config.kbd
Restart=on-failure

[Install]
WantedBy=default.target
